#console-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#console-window{
    font-family: "Light";
    width: 60%;
    max-height: 60vh;
    min-height: 60vh;
    color: #c5c8c6;
    background-color: #282a2e;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    overflow: scroll;
    overflow-wrap: break-word;
    font-size: small;
}