.moveArrow {
  animation-name: mymove;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 9s;
  transition-timing-function: linear;
  width: 300px;
  height: auto;
  position: absolute;
  z-index: 0;
}

@keyframes mymove {
  from {
    transform: translateY(-80vh);
  }
  to {
    transform: translateY(90vh);
  }
}